.Header {
  top: 0;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;  
}

.loginItems {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  align-items: center;
}
.loginButton {
  display: flex;
}
.loginName {
  display: flex;
  margin-right: 20px;
}