.QandABody {
    width: 40%;
    max-height: 75%;
    position: absolute;
    left: 5%;
    top: 8%;
    overflow: auto;
}

.DescBody {
    width: 40%;
    max-height: 85%;
    position: absolute;
    left: 50%;
    top: 8%;
    overflow: auto;
}

.Answer-text {
    width: 90%;
    resize: none;
}

.NextButton {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.BackButton {
    position: absolute;
    bottom: 10%;
    left: 10%;
}