.QandABody {
    width: 40%;
    max-height: 75%;
    position: absolute;
    left: 5%;
    top: 8%;
    overflow-y: auto;
}
.QandABody::-webkit-scrollbar {
    background-color: rgb(238, 238, 238);
    width: 7px;
}
.QandABody::-webkit-scrollbar-thumb {
    background-color: #2980b9;
    border-radius: 20px;
}

.DescBody {
    width: 40%;
    max-height: 85%;
    position: absolute;
    left: 50%;
    top: 8%;
    overflow-y: auto;
}
.DescBody::-webkit-scrollbar {
    background-color: rgb(238, 238, 238);
    width: 7px;
}
.DescBody::-webkit-scrollbar-thumb {
    background-color: #2980b9;
    border-radius: 20px;
}

.Answer-text {
    width: 90%;
    resize: none;
}

.NextButton {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.BackButton {
    position: absolute;
    bottom: 10%;
    left: 10%;
}