.Sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    display: flex;
    background-color: cadetblue;
    flex-direction: column;
    z-index: 999;
    top: 50px;
    transition: width 0.3s ease;
}

.Sidebar:hover {
    width :250px;
}

.SidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.SidebarList .row {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row #row-active {
    cursor: pointer;
    background-color: darkseagreen;
}


.SidebarList .row:hover {
    cursor: pointer;
    background-color: darkseagreen;
}

.row #icon {
    flex: 30%;
    margin-left: 15px;
    display: grid;
    place-items: center;
}

.Sidebar:hover .row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row #title {
    flex: 70%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Sidebar:hover .row #title {
    opacity: 1;
}